/*Youri Van Laer*/
@mixin fullBackgroundImg($imgPath,$height: 400px,$attachment:inherit,$size:cover,$posistion:0px 0px,$repeat: no-repeat){
  background-image: url($imgPath);
  height: $height;
  background-attachment: $attachment;
  background-size: $size;
  background-position: $posistion;
  background-repeat: $repeat;
}
/*Robin Vranxi*/