/*Youri Van Laer*/
@mixin fullBackgroundImg($imgPath,$attachment,$height){
  background-image: url($imgPath);
  background-attachment: $attachment;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: $height;
  min-height: 500px;
}



/*Robin Vranxi*/