$primary_color: #818338;
$NieuwsModalHeight:40px;
$paddingnewspreviewRightLeft:40px;
$paddingnewspreviewTopBotom:10px;
$paddingcontainernieuws:10px;
$breedtemodalWindow:1000px;
$hoogtemodalWindow:auto;