body{
  font-family: $lettertype;
}


//function voor alle titels een ander lettertype
@for $header from 1 through 6{
  h#{$header}{
    font-family: $lettertypeTitle;
  }
}
.h{
  &-300px{
    height: 300px;
  }
}
.mt{
  &-7{
    margin-top:6rem;
  }
  &-nav{
    margin-top: $navbar_height;
  }
}

/*extreem*/
.nav-extreem{
  > li > a{
    text-decoration: none;
  }
  > li > a:hover {
    color: $primary_color !important;
  }
  > li > .active {
    color: $primary_color !important;
  }
}

/*color */
#mapid {
  height: 400px !important;
  width:100%;
}
