@keyframes fadeInLeft{
  from{
    opacity: 0;
    transform: translateX(-20%);
    visibility: visible;

  }

  to{
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fadeIn{
  from{
    opacity: 0;
    visibility: visible;

  }

  to{
    opacity: 1;
  }
}

@keyframes drone{
  from{
    transform: translateX(-150%) translateY(-80%);

  }
  to{
    transform: translateX(0%) translateY(0%);
  }
}

@keyframes wolk{
  from{
    transform: translateX(0%);

  }
  to{
    transform: translateX(-150%);
  }
}

#drone{
  animation-name: drone;
  animation-duration: 2s;
  animation-iteration-count: unset;
  animation-timing-function: ease-out;
  animation-delay:0s;
}
#wolk{
  animation-name: wolk;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-delay:0s;
}

.fade{
  &In{
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: unset;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
    animation-delay:0s;

    &Left{
      animation-name: fadeInLeft;
      animation-duration: 0.5s;
      animation-iteration-count: unset;
      animation-timing-function: ease-in;
      /* Animation delay problemen -> aangezien hij al in de keyframe springt en nog een delay van bv 3 sec heeft. Dus word hij visible
      Deze functie zorgt ervoor dat hij pas na de delay in de keyframe terecht komt */
      animation-fill-mode: both;
      animation-delay:0s;

    }
  }
}

.notvisible{
  visibility: hidden;
}
