//variabelen
$lettertype:'Noto Sans', sans-serif;
$lettertypeTitle:'Open Sans', sans-serif;
$primary_color:#818338;
$secondary_color:#e8e8e87d;
$navbar_height:76px;
$color-water:#94B8D9;
$aantalBubbels: 15;