 @keyframes fadeInLeft{
   from{
     opacity: 0;
     transform: translateX(-20%);
   }

   to{
     opacity: 1;
     transform: translateX(0%);
   }
 }

 .fadeInLeft{
   animation-name: fadeInLeft;
   animation-duration: 0.5s;
   animation-iteration-count: unset;
   animation-timing-function: ease-in;
 }