@import "huisstijl";
@import "RVvariables";


#nieuwsfoto1{
  width: 100%;
  background-image: url("../img/1.jpg");
  height: 405px;
  background-color: purple;
  background-position: center;
}
#paddingnewspreview{
  padding-right: $paddingnewspreviewRightLeft;
  padding-left: $paddingnewspreviewRightLeft;
  padding-bottom: $paddingnewspreviewTopBotom;
  padding-top: $paddingnewspreviewTopBotom;
}
#containernieuws{
  padding:10px;
}
@mixin fullBackgroundImg($imgPath,$attachment,$height){
  background-image: url($imgPath);
  background-attachment: $attachment;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: $height;
  min-height: 500px;
}

.NieuwsModal{
  float:right;
  height: $NieuwsModalHeight;
  width: auto;
  background-color: $primary_color !important;
}

.background-img{
  &-geocaching-nieuws{
    @include fullBackgroundImg('https://images.pexels.com/photos/920115/pexels-photo-920115.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1000',fixed,100vh);
  }
  &-geocaching-benodidheden{
    @include fullBackgroundImg('https://images.pexels.com/photos/2108845/pexels-photo-2108845.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1000',fixed,100vh);
  }
}

//modal

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}