@import "huisstijl";
@import "RVvariables";


#nieuwsfoto1{
  width: 100%;
  background-image: url("../img/idee.jpg");
  height: 405px;
  background-color: purple;
  background-position: center;
}
#nieuwsfoto2{
  width: 100%;
  background-image: url("../img/box.jpg");
  height: 405px;
  background-color: purple;
  background-position: center;
}
#nieuwsfoto3{
  width: 100%;
  background-image: url("../img/woman_in_forest.jpg");
  height: 405px;
  background-color: purple;
  background-position: center;
}
#paddingnewspreview{
  padding-right: $paddingnewspreviewRightLeft;
  padding-left: $paddingnewspreviewRightLeft;
  padding-bottom: $paddingnewspreviewTopBotom;
  padding-top: $paddingnewspreviewTopBotom;
}
#containernieuws{
  padding:10px;
}
@mixin fullBackgroundImg($imgPath,$attachment,$height){
  background-image: url($imgPath);
  background-attachment: $attachment;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: $height;
  min-height: 500px;
}

.NieuwsModal{
  float:right;
  height: $NieuwsModalHeight;
  width: auto;
  background-color: $primary_color !important;
}

.background-img{
  &-geocaching-nieuws{
    @include fullBackgroundImg('https://images.pexels.com/photos/920115/pexels-photo-920115.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1000',fixed,100vh);
  }
  &-geocaching-benodidheden{
    @include fullBackgroundImg('https://images.pexels.com/photos/2108845/pexels-photo-2108845.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1000',fixed,100vh);
  }
}
.benodigdheden{
  float:center;
}

@media (min-width: 720px){
  .benodigdheden{
    width: 720px;
  }
}


//Modale Vensters
.modalWindow {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.2);
  z-index: 99999;
  opacity:0;
  pointer-events: none;
  text-align:center;
}
.modalWindow:target {
  opacity:1;
  pointer-events: auto;
}
.modalWindow > div {
  width: $breedtemodalWindow;
  height:$hoogtemodalWindow;
  position: relative;
  margin: 10% auto;
  background: #fff;
}