$theme-colors: (
        "primary": #818338,
        "danger": purple
);

// Link to BS4
@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');



body{
  font-family: 'Noto Sans', sans-serif;
}

.background-img{
  &::after{
    content: "";
    background-image: url("../img/background3.png");
    background-size: cover;
    opacity: 0.3;
    top: 700px;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    height: 2016px;
  }
}
.background2-img{
  &::after{
    content: "";
    background-image: url("../img/background3.png");
    background-size: cover;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}
.background3-img{

    content: "";
    background-image: url("../img/look.png");
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    height:200px;

}

.test-color{
  background-color: #818338;
}
.back-color{

  height: 94vh;
  min-height: 500px;
  /*background-attachment: fixed;*/

  background-image: url('https://gopro.com/content/dam/awards/carousel/GoProAwards_Home_Desktop_expanded_2017_FINAL_carousel2.jpg');


  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /*background: rgb(128,131,56);
  background: linear-gradient(90deg, rgba(128,131,56,1) 0%, rgba(44,55,59,1) 30%);*/
}
.back2-color{

  height: 94vh;
  min-height: 500px;
  background-attachment: fixed;

  background-image: url('../img/exb4.jpg');


  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;



  /*background: rgb(44,55,59);
  background: linear-gradient(90deg, rgba(44,55,59,1) 36%, rgba(3,157,190,1) 83%);*/
}
.back3-color{
 /* background-color: #e8e8e8;*/
/*
  height: 94vh;
  min-height: 500px;
  background-attachment: fixed;

  background-image: url('../img/background.jpg');


  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
*/


  /*background: rgb(44,55,59);
  background: linear-gradient(90deg, rgba(44,55,59,1) 36%, rgba(3,157,190,1) 83%);*/

  height: 94vh;
  min-height: 500px;
  background-attachment: fixed;

  background-image: url('../img/exb3.jpg');


  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


}
.back4-color{
  height: 94vh;
  min-height: 500px;
  /*background-attachment: fixed;*/

  background-image: url('../img/exb1.jpg');


  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.back5-color{
  height: 94vh;
  min-height: 500px;
  background-attachment: fixed;

  background-image: url('../img/exb5.jpg');


  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.back6-color{
  height: 94vh;
  min-height: 500px;
  background-attachment: fixed;

  background-image: url('../img/exb6.jpg');


  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/*color

#5e6754

 */
#mapid {
  height: 400px !important;
  width:100%;
}

/*Extreem*/




.masthead {
  height: 94vh;
  min-height: 500px;
  background-attachment: fixed;
  /*background-image: url('https://images.unsplash.com/photo-1418662589339-364ad47f98a2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1345&q=80');*/
  background-image: url('https://images.pexels.com/photos/1761282/pexels-photo-1761282.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');

  background-image: url('  https://images.pexels.com/photos/709552/pexels-photo-709552.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-image: url('https://images.pexels.com/photos/2106776/pexels-photo-2106776.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');

  background-image: url('https://images.pexels.com/photos/1125776/pexels-photo-1125776.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-image: url('https://images.pexels.com/photos/418831/pexels-photo-418831.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=1920&w=1080');

  background-image: url('  https://shop.gopro.com/on/demandware.static/-/Library-Sites-sharedGoProLibrary/default/dw14332162/images/software-and-app/img_GoPro_Feed_D.jpg');


  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
